@font-face {
  font-family: 'operatorMono';
  src: url('/fonts/operator-mono-italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'operatorMono';
  src: url('/fonts/operator-mono-regular.otf');
  font-style: normal;
}
@font-face {
  font-family: 'prime';
  src: url('/fonts/prime.ttf');
  font-style: normal;
}
.prime {
  font-family: prime !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
  .focus-in {
    animation: focus-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .focus-in2 {
    animation: focus-in2 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .focus-in3 {
    animation: focus-in3 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @keyframes focus-in {
    0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in2 {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in3 {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

  .parent:hover .child {
    display: block !important;
  }

  .circleDuration {
    animation-duration: 5s !important;
  }

  /* :>> JSX Styles Start ` */
  .token.string {
    color: #48ff19 !important;
  }

  .token.keyword {
    color: #f17b7b !important;
    font-style: italic !important;
  }

  .token.plain {
    color: #c6c844 !important;
  }

  #arrowSign {
    background: #fff !important;
    color: #000000 !important;
    padding: 0px 7px !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-style: italic !important;
  }

  #bracket {
    color: yellow !important;
  }

  /* :>> JSX Styles End ` */

  body {
    /* background: #151f33; */
    background: #101010;
    color: #eee;
  }

  .bgSidebar {
    background: #1b2333;
  }

  .leftBar {
    min-width: 250px !important;
    max-width: 250px;
  }

  /* LoadBG */
  .loadBG {
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#222222),
      color-stop(#333333),
      to(#222222)
    );
    background-image: linear-gradient(270deg, #222222, #333333, #222222);
    background-size: 900% 100%;
    animation: bg-pan-left 3s normal both infinite;
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Scroll Image */
  #boxAniWrapper {
    /* animation: wrapper 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
    animation: bounce-in 1.9s both;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: scale(0.7);
      animation-timing-function: ease-in;
    }
    72% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    81% {
      transform: scale(0.84);
      animation-timing-function: ease-in;
    }
    89% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  #boxAni {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/stack-tailwindui.appspot.com/o/photos%2Fall-designs.jpg?alt=media&token=ba4ef666-fe27-4815-859c-c307d56b2687);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    animation: 33s ease infinite alternate both running scrolling;
  }
  @keyframes scrolling {
    0% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .scrollTransparent {
    scrollbar-color: transparent transparent !important;
  }
  .scrollTransparent::-webkit-scrollbar-track {
    background: transparent !important;
  }

  .scrollTransparent::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  * {
    transition: all 0.4s;
    font-family: operatorMono !important ;
    scroll-behavior: smooth !important;
    scrollbar-color: #fff #222222;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
  }

  /* For Sidebar Scrollbar */
  .sidebarScroll,
  .scrollHandle {
    scrollbar-color: transparent transparent;
  }
  .sidebarScroll:hover,
  .scrollHandle:hover {
    scrollbar-color: lightblue transparent;
  }
  .sidebarScroll::-webkit-scrollbar,
  .scrollHandle::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }
  .sidebarScroll::-webkit-scrollbar-track,
  .scrollHandle::-webkit-scrollbar-track {
    background: transparent !important;
  }
  .sidebarScroll::-webkit-scrollbar-thumb,
  .scrollHandle::-webkit-scrollbar-thumb {
    background: transparent !important;
    border-radius: 20px;
  }
  .sidebarScroll:hover::-webkit-scrollbar-thumb,
  .scrollHandle:hover::-webkit-scrollbar-thumb {
    background: lightblue !important;
    border-radius: 20px;
  }
  /* For Sidebar Scrollbar End */

  /* @Appy - Make All Flex Method class */
  /* :>> ``1``  */
  .flexjcic {
    @apply flex justify-center items-center;
  }

  .flexjcis {
    @apply flex justify-center items-start;
  }

  .flexjcie {
    @apply flex justify-center items-end;
  }
  /* :>> ``2`` */
  .flexjsic {
    @apply flex justify-center items-center;
  }
  .flexjbic {
    @apply flex justify-between items-center;
  }

  .flexjeic {
    @apply flex justify-end items-center;
  }
  .flexjsis {
    @apply flex justify-start items-start;
  }
}

/* :>> Wave Start ``  */
.hero-waves {
  display: block;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 50s linear infinite;
  animation: move-forever1 50s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 35s linear infinite;
  animation: move-forever2 35s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 20s linear infinite;
  animation: move-forever3 20s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/* :>> Wave End `` */
